
<ion-content fullscreen>
  <ion-item class="botones">
      <ion-button (click)="cerrarModal()" fill="clear"><ion-icon name="close"></ion-icon></ion-button>
      <ion-button fill="clear"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
      <ion-button fill="clear"><ion-icon name="remove-circle-outline"></ion-icon></ion-button>

  </ion-item>

<ion-slides pager="true" [options]="slideOpts">
<ion-slide>
    <img src="{{imagen}}" alt="">
</ion-slide>

</ion-slides>




</ion-content>
