<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    <ion-title>La Orquidea</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

    <ion-card >
        <img src="assets/img/hacienda.jpg">
        <div id="PosBoton">
            <ion-button routerLink="/galeria"  slots="end" fill="clear"> <ion-icon name="photos"></ion-icon></ion-button>
        </div>
      </ion-card>


      <ion-list>
          <ion-item>
              <ion-avatar slot="start" class="ios hydrated">
                  <img src="assets/img/hacienda.jpg">
                </ion-avatar>
            <ion-label>Sencilla</ion-label>
            <ion-button>Reservar</ion-button>
          </ion-item>
          <ion-item>
              <ion-avatar slot="start" class="ios hydrated">
                  <img src="assets/img/hacienda.jpg">
                </ion-avatar>
            <ion-label>Rubí</ion-label>
            <ion-button>Reservar</ion-button>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start" class="ios hydrated">
              <img src="assets/img/hacienda.jpg">
            </ion-avatar>
            <ion-label>Diamante</ion-label>
            <ion-button>Reservar</ion-button>
          </ion-item>
          <ion-item>
              <ion-avatar slot="start" class="ios hydrated">
                <img src="assets/img/hacienda.jpg">
              </ion-avatar>
            <ion-label>Esmeralda</ion-label>
            <ion-button>Reservar</ion-button>
          </ion-item>
        </ion-list>
       <h3 style="text-align: center;">Servicios</h3>

       <ion-list>

        
       </ion-list>
        
        <ion-button  color="danger" class="button-outline" id="BtnServicios"> 
          Bebidas
        </ion-button>

        <ion-button color="danger" class="button-outline" id="BtnServicios"> 
          Comidas
        </ion-button>

        <ion-button color="danger" class="button-outline" id="BtnServicios"> 
          Objetos Sexuales
        </ion-button>

        <ion-button color="danger" class="button-outline" id="BtnServicios"> 
          Aseo
        </ion-button>
        
        <ion-button color="danger" class="button-outline" id="BtnServicios"> 
         Serv. de Transporte
          </ion-button>

      

        

        
</ion-content>