<h3 fxLayoutAlign="center">Usuarios Registrados</h3>
<div
  class="container"
  fxLayout="column"
  *ngFor="let user of users; let i = index"
>
  <mat-accordion>
    <mat-expansion-panel
      [expanded]="step === i"
      (opened)="setStep(i)"
      hideToggle
    >
      <mat-expansion-panel-header class="panel">
        <mat-panel-title>
          <div fxLayout="row" class="example-card">
            <img
              [src]="url + user.imPerfil"
              alt=""
              width="70px"
              height="70px"
            />
            <div fxFlex="1"></div>
            <div fxFlexLayout="column" fxFlex="99">
              <p class="name">
                {{ jsUcfirst(user.nombre) }} {{ jsUcfirst(user.apellido) }}</p
              >
              <p>Cliente</p>
            </div>

            <button
              fcFlexAlign="end"
              mat-button
              (click)="getData(user.idusuario)"
              color="primary"
              *ngIf="step !== i"
              >Ver moteles</button
            >
            <button
              (click)="addMotel()"
              fcFlexAlign="end"
              mat-fab
              color="primary"
              *ngIf="step === i"
              >Añadir</button
            >
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <span
          fxLayoutAlign="center center"
          *ngIf="loading"
          class="uploader-status"
        >
          <mat-spinner [diameter]="40"></mat-spinner>
        </span>
        <div *ngIf="!loading && moteles" fxLayout="column">
          <app-motel-form *ngIf="this.addingMotel"> </app-motel-form>
          <app-motel-table
            *ngIf="!this.addingMotel"
            [moteles]="moteles"
            [i]="i"
          ></app-motel-table>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
