
<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    <ion-title>Terminos Y Condiciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<p>
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim voluptatibus quod atque quas incidunt dolore molestiae molestias cum. 
Tempore repudiandae illum quibusdam laborum sed dolorum, alias facere eligendi ducimus asperiores!

Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat rem magni sit dolore maxime consequuntur,
voluptatibus animi mollitia eos. Porro natus perferendis possimus delectus rem vitae eius quia, provident optio?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, doloribus doloremque iure quas unde facere eius cumque vel eos dicta odit ullam dignissimos tempore animi, 
necessitatibus numquam natus et eligendi!
Lorem ipsum dolor, sit amet consectetur adipisicing elit. At ut voluptate qui temporibus!
 A magnam repellat minus natus adipisci animi explicabo in.
 Pariatur voluptatibus veniam praesentium, obcaecati minus nam quis.
 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere eius aliquam autem rem quod, rerum unde,
  eum libero tempore eligendi natus ut labore placeat architecto, voluptates iusto. Nisi, molestiae ut!
</p>
</ion-content>
