<ion-menu side="start" menuId="first"  contentId="principal">
    <ion-header>
      <ion-toolbar color="danger">
        <ion-title text-center>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list >
<ion-menu-toggle>
    <ion-item routerLink="/perfil"><ion-icon name="person" slot="start"></ion-icon>Perfil</ion-item>
    <ion-item routerLink="/reservas"><ion-icon name="bed" slot="start"></ion-icon>Reservas</ion-item>
    <ion-item (click)=presentAlert() ><ion-icon name="call" slot="start"></ion-icon>Comunicate con nosotros</ion-item>
    <ion-item routerLink="/conoces" ><ion-icon name="chatboxes" slot="start"></ion-icon>¿Conoces algun motel que no estemos ofreciendo?</ion-item>
    <ion-item routerLink="/sugerencias"><ion-icon name="bulb" slot="start"></ion-icon>Sugerencias</ion-item>
    <ion-item routerLink="/terminos" ><ion-icon name="clipboard" slot="start"></ion-icon>Terminos y condiciones</ion-item>
</ion-menu-toggle>


      </ion-list>
    </ion-content>
  </ion-menu>