<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Sugerencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" value="" ></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Teléfono</ion-label>
          <ion-input type="tel" value="" maxlength="10"></ion-input>
        </ion-item>

    <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" value="" ></ion-input>
      </ion-item>
      
      <ion-item>
          <ion-label position="floating" required>Descripción</ion-label>
          <ion-textarea></ion-textarea>
        </ion-item>

        <ion-button expand="full">
            Enviar sugerencia
          </ion-button>
</ion-content>
