<table cdk-table #testTable [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container cdkColumnDef="nombreMotel">
    <th cdk-header-cell *cdkHeaderCellDef> nombreMotel </th>
    <td class="parent" cdk-cell *cdkCellDef="let element">
      {{ element.nombreMotel }}
      <button
        mat-button
        color="primary"
        [satPopoverAnchor]="p"
        (click)="p.open()"
        class="hidden"
      >
        <i class="material-icons">
          edit
        </i>
      </button>
      <sat-popover
        #p
        hasBackdrop
        xAlign="start"
        yAlign="start"
        (closed)="update(element, $event)"
      >
        <inline-edit [value]="element.nombreMotel"></inline-edit>
      </sat-popover>
    </td>
  </ng-container>

  <ng-container cdkColumnDef="telefono">
    <th cdk-header-cell *cdkHeaderCellDef> telefono. </th>
    <td cdk-cell *cdkCellDef="let element">
      {{ element.telefono }}
    </td>
  </ng-container>
  <ng-container cdkColumnDef="estado">
    <th cdk-header-cell *cdkHeaderCellDef> estado </th>
    <td cdk-cell *cdkCellDef="let element">
      {{ element.estado }}
    </td>
  </ng-container>
  <ng-container cdkColumnDef="habitaciones">
    <th cdk-header-cell *cdkHeaderCellDef> habitaciones </th>
    <td cdk-cell *cdkCellDef="let element">
      {{ element.habitaciones }}
    </td>
  </ng-container>
  <ng-container cdkColumnDef="direccion">
    <th cdk-header-cell *cdkHeaderCellDef> direccion </th>
    <td cdk-cell *cdkCellDef="let element">
      {{ element.direccion }}
    </td>
  </ng-container>
  <ng-container cdkColumnDef="idmotel">
    <th cdk-header-cell *cdkHeaderCellDef> </th>
    <td cdk-cell *cdkCellDef="let element; let i = index">
      <button mat-button color="warn" (click)="delete(i)"
        ><i class="material-icons">
          delete
        </i></button
      >
    </td>
  </ng-container>
  <tr cdk-header-row *cdkHeaderRowDef="motelTable"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: motelTable"></tr>
</table>
