.semi{
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  text-align: center;
  margin: 5px;
}
.btn{
  font-size: 20px;
  text-align: center;
}
.title{
  font-size: 24px;
  text-align: center;
  color: black;
}

hr{
  width: 100%;  
}